.form{
    display: flex;
    flex-flow: column nowrap;
    font-size: 14px;
    padding: 0% 5%;
    input{
        margin: 4% 0%;
        width: 60%;
    }
    fieldset{
        width: 100%;
        border: 1px solid rgb(240, 240, 240);
        input{
            margin: 4% 0%;
            width: 70%;
        }
        select{
            width: 95%;
            padding: 1%;
        }
    }
    select{
        width: 85%;
        padding: 1%;
        background-color: rgb(240, 240, 240);
    } 
    .btnDiv{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}