.form{
    display: flex;
    flex-flow: column nowrap;
    font-size: 14px;
    padding: 0% 5%;
    input{
        margin: 4% 0%;
        width: 60%;
    }
    fieldset{
        width: 100%;
        border: 1px solid rgb(240, 240, 240);
        input{
            margin: 4% 0%;
            width: 70%;
        }
        select{
            width: 95%;
            padding: 1%;
        }
    }
    select{
        width: 85%;
        padding: 1%;
        background-color: rgb(240, 240, 240);
    } 
    .btnDiv{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background: white;
    padding: 0.5% 10% 0.5% 1%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
    position: relative;

    .icon {
      position: absolute;
      top: -5px;
      right: -5px;
      color: white;
      background: black;
      padding: 2% 2.5%;
      border-radius: 100%;
    }
  }
}